[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
google-cloud-storage = "*"
python-magic = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
makerequeriments="pip freeze > requirements.txt"
deploy="python -m scripts.deploy"
